body{
    background-image: url("img/metalpipefalling.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}
button
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 7%;
}
div{
    font-size: 5cm;
}
.startbut{
    margin-bottom: 5px;
    width: 5%;
    height: 1cm;
}
p{
    margin: 1px;
    font-size: 2cm;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
